body {
    margin: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    color: inherit !important
}

* {
    font-family: 'B612';
}

.projectMeta .ant-card-meta-title {
    color: white !important;
    border-bottom: 3px solid white;
}

.projectMeta .ant-card-meta-description {
    color: white !important;
    padding-top: 10px;
}